---
layout: archive
permalink: /year-archive/
title: "Blog posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

{% capture written_category %}{% endcapture %}
{% for post in site.posts %}
  {% assign category = post.categories[0] %} <!-- Assuming the first category is the main one -->
  {% if category != written_category %}
    <h2 id="{{ category | slugify }}" class="archive__subtitle">{{ category }}</h2>
    {% capture written_category %}{{ category }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
