{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">

    <nav id="site-nav" class="greedy-nav">
    <button class="close hidden"><div class="navicon"></div></button>
    <ul class="visible-links">
      <!-- Initially empty, items will be moved here by JavaScript -->
    </ul>
    <ul class="hidden-links hidden">
      <li class="masthead__menu-item masthead__menu-item--home"><a href="https://m-rit.github.io/about">Home</a></li>
      <li class="masthead__menu-item"><a href="https://m-rit.github.io/portfolio">Projects</a></li>
      <li class="masthead__menu-item"><a href="https://m-rit.github.io/year-archive">Articles</a></li>
      <li class="masthead__menu-item"><a href="https://m-rit.github.io/cv">CV</a></li>
    </ul>
  </nav>
</div>
</div>

</div>
