/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed;
  background: white;
  border-bottom: 1px solid $border-color;
  height: $masthead-height;
  top: 0;
  width: 100%;

  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 1em 1em 1em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}


.masthead__menu {
  display: flex;
  justify-content: space-between; /* Aligns items to both ends (left and right) */
}

.masthead__menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex; /* Displays items horizontally */
}

.masthead__menu-item {
  margin-right: 1em; /* Adjust spacing between items */
}

.masthead__menu-item--lg {
  padding-right: 2em;
  font-weight: 700;
}

/* Specific styling for "Home" item */
.masthead__menu-item--home {
  order: -1; /* Places "Home" at the beginning */
}

/* Align items to the right */
.masthead__menu ul {
  justify-content: flex-end; /* Aligns items to the right */
}

/* Hover effect for links */
.masthead__menu-item a {
  color: #333; /* Ensure links inherit the color */
  text-decoration: none; /* Optional: Remove underline */
}

.masthead__menu-item a:hover {
  text-decoration: underline; /* Example: Add underline on hover */
}

